header {
    height: 10vh;
}

main {
    height: 83vh;
    background-color: aquamarine;
}

footer {
    height: 7vh;
}

div#square {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

div.small-square {
    border: 1px solid black;
    height: 50px;
    width: 50px;
}

div.active {
    background-color: slategray;
}